
<img src="assets/images/planet_api.png" class="shadow-image">

<h1 class="welcome-header">Planet API</h1>
<p>Planet API is a 2D planet sprite generator. Our internal process procedurally generate surfaces, map them to a true sphere, to finally render a planet at 512x512 with transparent background, lighting and solar effect.</p>
<p><b>This API currently under development. During this phase, it can be accessed for free.</b></p>

<h1>Get pre-generated packs</h1>
<p>You can directly get pre-generated sets of planets sprites from <a href="https://itch.io/">Itch.io</a>. Many of them are free !</p>
<iframe frameborder="0" src="https://itch.io/embed/1518130?linkback=true" width="100%" height="167"><a href="https://joffreybvn.itch.io/planets-pack1">240+ 2D Planets Pack #1 by Joffrey Bienvenu</a></iframe>
